Repository deepeshp656/TestLabel, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, auto-run

.github/labeler.yml:

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
frontend:
- any: ['*.txt']
# Add 'auto run` label to any change to *.js files as long as the `main.js` hasn't changed
auto-run:
- any: ['approle*']

Create approlelabel.jpg
  approlelabel.jpg
Labels: auto-run

Update test.txt
  test.txt
Labels: frontend

Create autoapprove.yml
  .github/workflows/autoapprove.yml
Labels: none

Update autoapprove.yml
  .github/workflows/autoapprove.yml
Labels: none

Update autoapprove.yml
  .github/workflows/autoapprove.yml
Labels: none

Create approlelabeles.jpg
  approlelabeles.jpg
Labels: auto-run

Update autoapprove.yml
  .github/workflows/autoapprove.yml
Labels: none

Update autoapprove.yml
  .github/workflows/autoapprove.yml
Labels: none

Update label.yml
  .github/workflows/label.yml
Labels: none

Update label.yml
  .github/workflows/label.yml
Labels: none

Update label.yml
  .github/workflows/label.yml
Labels: none

Update label.yml
  .github/workflows/label.yml
Labels: none

Update label.yml
  .github/workflows/label.yml
Labels: none

Update label.yml
  .github/workflows/label.yml
Labels: none

Update label.yml
  .github/workflows/label.yml
Labels: none

Update label.yml
  .github/workflows/label.yml
Labels: none

Update label.yml
  .github/workflows/label.yml
Labels: none

Update label.yml
  .github/workflows/label.yml
Labels: none

Update label.yml
  .github/workflows/label.yml
Labels: none

Update label.yml
  .github/workflows/label.yml
Labels: none

Update label.yml
  .github/workflows/label.yml
Labels: none

Update label.yml
  .github/workflows/label.yml
Labels: none

Update label.yml
  .github/workflows/label.yml
Labels: none
